html,
body {
  font: $font-primary;
  @media (max-width: $media-xl) {
    font-size: 14px;
  }
  @media (max-width: $media-md) {
    font-size: 12px;
  }
}

p, span {
  color: $text-color--dark;
}

h2 {
  font-family: $font-family--secondary;
  font-size: rem(90px);
  font-weight: 400;
  @include media(font-size, rem(80px), rem(80px), rem(70px), rem(60px))
}

h3 {
  font-size: rem(36px);
}

h4 {
  font-size: rem(21px);
}