@mixin flex($row, $column) {
  display: flex;
  justify-content: $row;
  align-items: $column;
}

@mixin position-order($position, $order) {
  & div:nth-child(#{$position}) {
    order: $order;
  }
}

//@mixin media($v1, $v2, $v3, $v4) {
//  @media (max-width: $media-sm) {
//  }
//  @media (min-width: $media-md) {
//  }
//  @media (max-width: $media-lg) {
//  }
//  @media (max-width: $media-xl) {
//  }
//}
