@mixin flex($row, $column) {
  display: flex;
  justify-content: $row;
  align-items: $column;
}

@mixin position-order($position, $order) {
  & div:nth-child(#{$position}) {
    order: $order;
  }
}

@mixin media($parameter, $value-1, $value-2, $value-3, $value-4) {
  @media (max-width: $media-xl) {
    #{$parameter}: $value-1
  }
  @media (max-width: $media-lg) {
    #{$parameter}: $value-2
  }
  @media (max-width: $media-md) {
    #{$parameter}: $value-3
  }
  @media (max-width: $media-sm) {
    #{$parameter}: $value-4
  }
}

%pseudo-elements {

}