//fonts
$font-family--primary: 'Lato', sans-serif;
$font-family--secondary: 'Yeseva One', cursive;
$font-family--third: 'Gentium Book Basic', serif;
$font-family--fourth: 'Open Sans', sans-serif;
$font-size-base: 16px;

$font-primary: 400 $font-size-base $font-family--primary;
$font-secondary: 400 $font-size-base $font-family--secondary;
$font-third: 700 $font-size-base $font-family--third;
$font-fourth: 400 $font-size-base $font-family--fourth;

//media points
$media-sm: 540px;
$media-md: 720px;
$media-lg: 960px;
$media-xl: 1400px;

//color
$primary-color: #cc9900;
$menu-color: #c89f2d;
$primary-color--hover: transparentize($primary-color, 0.4);
$text-color--light: #ffff;
$text-color--dark: #4c4c4c;