.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

$main-side-padding: 15px;

.section {
  padding: 140px $main-side-padding;

  //&--side-non {
  //  padding: 140px 0 0;
  //}
  //
  //@media (max-width: $media-PC1) {
  //  padding: 90px $main-padding;
  //  &--side-non {
  //    padding: 90px 0 0;
  //  }
  //}
  //@media (max-width: $media-netbook) {
  //  padding: 70px $main-padding;
  //  &--side-non {
  //    padding: 70px 0 0;
  //  }
  //}
}