.description {
  margin: 0 auto 50px;
  text-align: center;
  padding: 15px;

  &__title {
    color: $primary-color;
    //font-family: $font-family--secondary;
    //font-size: rem(36px);
    //font-weight: 400;
    margin-bottom: 20px;
  }

  &__text {
    color: $text-color--dark;
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
  }
}