.divider {
  width: 230px;
  height: 40px;
  margin-bottom: 35px;
  fill: transparentize(white, 0.3);
  //@media (max-width: $media-PC1) {
  //  margin-bottom: 45px;
  //}
  //@media (max-width: $media-netbook) {
  //  margin-bottom: 25px;
  //}

  //&--adaptive {
  //  max-width: rem(230px);
  //  height: 0.5rem;
  //  margin-bottom: 3.214em;
    //@media (max-width: $media-notebook) {
    //  max-width: 10rem;
    //  height: 0.4rem;
    //}
  //}
}