.ingredients {
  background: fixed bottom / cover no-repeat url("./../../../img/background/bg-ingredients.jpg");

  &__container {
    @include flex(flex-end, center);
    @media (max-width: $media-md) {
      @include flex(center, center);
    }
  }

  &__description-box {
    flex: 0 1 600px;
    background-color: transparentize(black, 0.4);
    padding: 80px 80px 60px;
    @media (max-width: $media-md) {
      padding: 40px 40px 20px;
    }
  }

  &__img-block {
    @include flex(space-around, center);
  }

  &__img {
    max-width: 33%;
  }
}
