.reviews {
  background: fixed bottom / cover no-repeat url("./../../../img/background/bg-reviews.jpg");

  &__container {
    @include flex(center, center);
    @media (max-width: $media-md) {
      @include flex(center, center);
    }
  }

  &__description-box {
    max-width: 770px;
    width: 100%;
    flex: 0 1 770px;
    background-color: transparentize(black, 0.4);
    padding: 60px 40px 40px;
    @media (max-width: $media-md) {
      padding: 20px 0 0;
    }
  }

  &__sign {
    display: block;
    margin: 30px auto 0;
    font: $font-fourth;
    color: white;
    font-size: rem(18px);
  }
}
